extends layout.pug




block content
  h1 Bienvenue !
  a(href="/") Voir les utilisateurs
  form(action="/" method="post")
    label(for="name") Prénom
    input(type="text" name="name" id="name")
    label(for="birth") Date de naissance
    input(type="date" name="birth" id="birth")
    button(type="submit") Valider
    if errors
      p.error= errors

