<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./asset/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <a href="/users.pug">User</a>
   
        <form action="/" method="post">
            <label for="name">Prénom</label>
            <input type="text" name="name" id="name">
            <label for="birthdate">Date de naissance</label>
            <input type="date" name="birthdate" id="birthdate">
            <button type="submit">Valider</button>
        </form>
    


    
</body>
</html>