extends layout.pug

block content
  ul
    each student, index in students
      li
        span #{student.name} #{student.birth} 
        form(action="/delete-student/" + index, method="post", style="display:inline;")
          button(type="submit") X

